<div class="top">
  <h2><%= @name %></h2>
  <p class="">
    <a class="border" href="/<%= @name %>/new">Add country</a>
  </p>
</div>

<%for country in @countries  %>
  <div class="display">
    <tr>

      <td><a href="/<%= @name %>/<%= country.id %>"><p><%= country.name %></p></a></td>

    <td><form class="show" action="/<%= @name %>/<%= country.id %>/delete" method="post">
      <input type="submit"  value="delete">
    </form></td>

    <td><form class="show" action="/<%= @name %>/<%= country.id %>/edit" method="get">
      <input type="submit"  value="edit">
    </form></td>

    </tr>
  </div>
<% end %>
