<h1><%= @name %></h1>

<p class="">
  <a class="" href="/<%= @name %>/new">New destination</a>
</p>

<%for country in @countries  %>
  <a href="/<%= @name %>/<%= country.id %>"><div><h2><%= country.name %></h2></div></a>
<% end %>
