<h1><%= @name %></h1>

<p class="">
  <a class="" href="/<%= @name %>/new">New destination</a>
</p>

<%for country in @countries  %>
  <div>
    <a href="/<%= @name %>/<%= country.id %>"><p><%= country.name %></p></a>
  <form class="" action="/visited/<%= country.id %>/delete" method="post">
    <input type="submit"  value="delete">
  </form>
  <form class="" action="/visited/<%= country.id %>/edit" method="post">
    <input type="submit"  value="edit">
  </form>
  </div>
<% end %>
